## Defining variables

In [ ]:
print("Hello to Magical world of Python")

int_val = 1  # An integer assignment
type(int_val)
int_val


petrol_price = 78.95 #Define floats
type(petrol_price)

#Define Strings 
string_val = "Harry Potter"
str_val2 = 'Harmayni'
str_val3 = """ Ron is friend of Harry
and Harmayani
"""
str_val3

## Control Flow -- If statement

In [ ]:
x = int(input("Please enter an integer: "))

if x > 0:
    print("Hurray !! Number is positive")
elif x == 0:
    print("Great !! you just discovered Zero")
else:
    print("Woooh !! some negative")

## Loops -- for

In [ ]:
for x in range(3):
    print(x)
    
pets = ['dragon', 'phoenix', 'Grifin']

for pet in pets:
    print(pet, len(pet))
    
for i in range(len(pets)):
    print(i, pets[i])

## Attempt Exercises

### List

In [118]:
day_list = ['Mon', 'Tue','Wed','Thu','Fri','Sat','Sun' ] #create list 
type(day_list) # type of list 
day_list 

day_list[5]
day_list[-1]
day_list[4:5]
day_list[4:-1]
day_list[:]

for day in day_list:
    pass
    #print(day)
#--------------operations------------
cubes = [1, 8, 27, 65, 125]
cubes[3] = 64  # replace the wrong value

cubes.append(216)  # add the cube of 6
cubes.append(7**3)  # add the cube of 7
cubes

len(cubes)

#--------------High Level operations------------
squares = []
for x in range(10):
    squares.append(x**2)
    
squares = [x**2 for x in range(10)]
squares = list(map(lambda x: x**2, range(10)))
squares

vector = [-4, -2, 0, 2, 4]
[x for x in vector if x >= 0]

del vector[0]
vector

[-2, 0, 2, 4]

### Tuples & Sets

In [130]:
t = 12345, 54321, 'hello!'
t[0]
t

empty = ()
singleton = 'hello',    # <-- note trailing comma
len(singleton)
singleton

#----------------------------Sets--------------------------------
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
'orange' in basket                 # fast membership testing
empty_set = set()
type(empty_set)

set

### Dictionary

In [12]:
cities = {'delhi': 'Delhi', 'gurgaon': 'Haryana', 'noida' : 'UP'}
cities['Jaipur'] = 'Rajasthan'

cities
del cities['delhi']
sorted(cities)
'delhi' in cities


dict([('delhi', 4139), ('gurgaon', 4127), ('noida', 4098)])
sqr = {x: x**2 for x in (2, 4, 6)}
type(sqr)

big_data = {'hive': 'sql-engine', 'spark': 'processing-engin', 'hdfs': 'storage-solution'}

for k, v in big_data.items():
    print(k, v)

hive sql-engine
spark processing-engin
hdfs storage-solution

### Defining Functions

In [22]:
word = 'camelCaseToLowerUnderScore'

def camelcase_to_underscore(word):
    for index in range(len(word)):
        char = word[index]
        if char.isupper():
            word = word.replace(char,'_' + char.lower())
    return word

print(camelcase_to_underscore(word))

camel_case_to_lower_under_score